.newProFormWrap{min-height:100vh;padding:50px 0;}
.newProForm{width:600px;background:#fff;margin:0 auto;border:1px solid #d0e6f0;border-radius:5px;padding:30px 40px 40px;}
fieldset,textarea{border:0;outline:0;}
.newProForm h2{text-align:center}
.field{display:inline-block;}
.newProForm .field{width:100%;margin-right:2%}
.newProForm input{color:#111;border-color:#ddd;}
textarea{margin:30px 0 0;color: #111;border-bottom:2px solid  #ddd;width:100%;}
.field textarea:focus ~ label{top:10px;}
.active textarea ~ label{top: 10px;font-size: 12px;}
.orgbtn{background:#ff9900;transition:.1s ease background;}
.orgbtn:hover{opacity:.75;}