.overall{width:100%;margin:30px 0 20px;}
.overall h2,.currentWork h2{padding-bottom:20px;}
.chatwrp{background:#fff;border:1px solid #ddd;}
.currentWork{width:100%;/*width:calc(100% - 61%);*/padding:11px 0 0 0px;}
.prgressTask{padding:20px;border:1px solid #ddd;background:#fff;position:relative;margin-bottom:10px;}
.prgressTask h3{font-size:14px;font-weight:bold;padding-bottom:5px;}
.prgressTask h4{font-size:14px;padding-bottom:5px;}
.prgressTask .per{height:4px;width:100%;background:#ddd;display:block;margin-bottom:5px;position:relative;}
.prgressTask .per .prgstat{position:absolute;left:0;top:0;width:100%;height:4px;}
.prgressTask .stausHed{font-size:13px;}
.prgressTask .status{font-size:20px;display:block;padding:5px 0 0;}
.prgressTask .btnwrp{position:absolute;bottom:20px;right:20px;}
.prgressTask .btnwrp a{padding:6px 15px;min-width:100px;color:#fff;font-size:14px;display:block;float:left;text-align:center;border-radius:3px;transition:.5s ease all;background:#1a73e8;}
.prgressTask .btnwrp a:hover{background:#0f5cc1;}
.prgressTask .btnwrp a:first-child{margin-right:10px;background:#ddd;color:#333;}
.prgressTask .btnwrp a:first-child:hover{background:rgba(221, 221, 221, 0.9);}
.grid.col-6 .Head{padding:8px 20px;border-bottom:1px solid #ddd;background:#d4d2d2}
.grid.col-6 .gridBody{padding:8px 20px;}
.timst .grid.col-6{grid-template-columns:1fr 250px repeat(4, 1fr);}
.calsec{width:60%;margin-right:1%}
.calsec .react-calendar{width:100%;border-color:#ddd;}